body {
	text-align: center;
	font-family: Century Gothic, sans-serif;
	display: flex;
}

#create_form {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin:auto;
	margin-top: 8%;
	border-style: solid;
	border-radius: 20px;
	border-color: #142BCC;
	background-color: #53C3FF;
	width: 40%;
	height: 80%;
}

input[type=text] {
	font-size: 20px;
}

input[type=password] {
	font-size: 20px;
}

.buttons {
	width: 40%;
	height: 40px;
	font-size: 20px;
	border: none;
	border-radius: 7px;
	height: 45px;
}

.buttons:hover {
	border-style: solid;
	border-color: #FF9D1E;
}

#footer {
	display:flex;
	padding: 15px;
	justify-content: space-around;
}

#username_password_input {
	border-bottom: solid;
	border-color: #142BCC;
	padding: 10px;
}

#header {
	display: flex;
	border-bottom: solid;
	border-color: #142BCC;
	padding: 10px;
}

#contact_input {
	border-bottom: solid;
	border-color: #142BCC;
	padding: 10px;
}

#statement_box {
	padding: 10px;
	border-bottom: solid;
	border-color: #142BCC;
}

#statement {
	height: 128px;
	width: 99%;
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	border-color: #53C3FF;
	resize: vertical;
	padding: 4px;
	font-family: Century Gothic, sans-serif;
}

#statement:focus {
	outline:none;
	border-color: #FF9D1E;
}

.right {
	float: right;
	width: 55%;
	border-radius: 7px;
	border-style: solid;
	border-color: #53C3FF;
	padding: 0 4px 0 4px;
}

.right:focus {
	outline:none;
	border-color: #FF9D1E;
}

.left {
	float: left;
}

#prof_pic {
	border-style: solid;
	border-color: #53C3FF;
	float: right;
	height: 128px;
	width: 128px;
	margin-left: auto;
	border-radius: 7px;
}

#prof_pic:hover {
	border-color: #FF9D1E;
}