body {
	font-family: Century Gothic, sans-serif;
}

h1 {
	text-align: center;
	font-size: 80px;
}

h2 {
	font-size: 40px;
}

#login {
	margin-top: 5%;
	text-align: center;
}

#login_form {
	background-color: #FF5629;
	border-color: #FF170E;
	border-width: 5px;
	border-radius: 20px;
	border-style: solid;
	margin: auto;
	width: 350px;
	text-align: center;
}

.type_div {
	display: flex;
	margin: auto;
}

#account_type {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-style:solid;
	border-radius: 20px;
	border-width: 5px;
	border-color: #142BCC;
	background-color: #5C40FF;
	margin: auto;
	width: 350px;
}

#type_buttons {
	justify-content: space-around;
	align-items: center;
	width: 100%;
	padding-bottom: 15px;
}

#type_text {
	align-self: flex-start;
}

.type_button {
	width: 40%;
	border: none;
	height: 45px;
	font-size: 24px;
}

.type_button:hover {
	border: solid;
	border-color: #FF170E;
}

input {
	border-radius: 5px;
	display:block;
	margin: auto;
	width:80%;
}

.login_input {
	padding-left: 5px;
	border: solid;
	border-color: #FF5629;
	height: 35px;
	font-size: 20px;
}

.login_input:focus {
	border: solid;
	outline: none;
	border-color: #142BCC;
}

.login_input_button {
	border: none;
	height: 45px;
	font-size: 24px;
}

.login_input_button:hover {
	border: solid;
	border-color: #142BCC;
}

button {
	border-radius: 5px;
	width:80%;
	margin-bottom: 10%;
	font-size: 24px;
}

ul {
	margin:0;
	padding:0;
	list-style-type:none;
	position: fixed;
	bottom:10px;
	width:100%;
}

li {
	display:inline;
	padding: 5px;
}